<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;600&family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    

    <link rel="stylesheet" href="../static/css/home.css">
</head>

<body>
    <div class="header">
        <h1 class="heading">Design And Analysis of Algorithms</h1>
        <p class="tagline">DAA</p>
        
        <div class="navbar">
            <a href="/">HOME</a>
            <a href="/LCS">Longest Common Subsequence</a>
            <a href="/levenshtien">Levenshtein Distance</a>
            <a href="/LIS">Longest Increasing Subsequence</a>
            <a href="/MCM">Matrix Chain Multiplication</a>
            <a href="/knapsack">0 1 knapsack problem</a>
            <a href="/Partition">Partition problem</a>
            <a href="/Rod_Cutting">Rod Cutting Problem</a>
            <a href="/Coin_Change">Coin change making problem</a>
            <a href="/Word_break">Word Break Problem</a>
            <!-- <a href="/select_code">Word Break Problem</a> -->

        </div>

    </div>

    <div style="padding-bottom: 30px;">

    

    <h2>What is Coin Change Problem</h2>
    <p>The change-making problem addresses the question of finding 
        the minimum number of coins that add up to a given amount of money. 
        It is a special case of the integer knapsack problem, and has 
        applications wider than just currency.</p>
        <hr>
        <h2>Time Complexity</h2>
        <p>The dynamic programming solution to this problem is clearly O(k * n) 
            where k is the number of coins and n is the amount of money that 
            change is being made for.</p>
            <hr>
        </div>
<center>
<form  action="/Coin_Change/" method="POST">

    <div class="container">

        <center>
            <h1 style="color: #456268; font-family:'Varela Round',sans-serif;">Select Input File</h1>
        </center>
       
        <div class="spc">
            <div class="input-container">
                <i class="fa fa-edit" style="font-size:15px;"></i>
               Select input File <select name='input'>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
            </select></p>
            </div>
        </div>

    
        <center><button type="submit" style="color:rgb(17, 9, 9)">Select</button></center>
          
        <!-- Longest Common Subsequence
        b. Shortest Common Supersequence
        c. Levenshtein Distance (edit-distance)
        d. Longest Increasing Subsequence
        e. Matrix Chain Multiplication (Order finding /paranthesization)
        f. 0-1-knapsack-problem
        g. Partition-problem
        h. Rod Cutting Problem
        i. Coin-change-making-problem
        j. Word Break Problem
       -->
    
     </form>
    </center>
    <!-- <script>
        function abc(display_record){
            window.location.href = "/"+ display_record
        }
    </script>
     -->
    <div class="header" style="position: fixed; left: 0;bottom: 0;width:100%; margin-top:20px; padding-top:0px; font-size:17px; font-family: 'Varela Round', sans-serif;">
        <!-- <footer style="text-align: left;">&copy; Copyright 2020 <span style="color:#fbdcc4;font-size:18px; font-family: 'Varela Round', sans-serif;">EMERGENCY-SERVICES</span>
            <span style="padding-left: 890px;">

                <a href="#">
                    <i style="color: #fbdcc4; font-size:20px;" class="fa fa-twitter"></i>
                </a>
                <a href="#">
                    <i style="color: #fbdcc4; font-size:20px;" class="fa fa-linkedin"></i>
                </a>

                <a href="#">
                    <i style="color: #fbdcc4; font-size:20px" class="fa fa-facebook"></i>
                </a>

                <a href="#">
                    <i style="color: #fbdcc4; font-size:20px" class="fa fa-medium"></i>
                </a>

            </span>
        </footer> -->

    </div>



<br/>
<br/>
<br/>
<br/>
<br/>


</body>
</html>