<!DOCTYPE html>
<html lang="en">

<head>
    <title>Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;600&family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/home.css">
</head>

<body>

     <div class="header">
        <img src="../static/images/logo.jpg" alt="">
        <h4>Design and Analysis of Algorithms</h4>
    </div>

    <div class="navbar">
        <a href="/">HOME</a>
        <a href="/LCS/">Longest Common Subsequence</a>
        <a href="/levenshtien">Levenshtein Distance</a>
        <a href="/LIS">Longest Increasing Subsequence</a>
        <a href="/MCM">Matrix Chain Multiplication</a>
        <a href="/knapsack">0 1 knapsack problem</a>
        <a href="/Partition">Partition problem</a>
        <a href="/Rod_Cutting">Rod Cutting Problem</a>
        <a href="/Coin_Change">Coin change making problem</a>
        <a href="/Word_break">Word Break Problem</a>
        <!-- <a href="/select_code">Word Break Problem</a> -->
        
        
    </div>

    <div class="row">
        <div class="side">
            <h2><u>Instructor's Name:</u></h2>
            <h3>Waqas Shaikh</h3>
            <h2><u>Group Members:</u></h2>
            <h3>Bilal Ahmed</h3>
            <h3>Muhammad Hasaan</h3>
           
        </div>
        <div class="main">
            <h2>OBJECTIVES</h2>

            <p>Safe communities where all citizens are provided the right to timely emergency response and care without
                discrimination.</p>
            <br>
            <H2>OUTCOMES</H2>
            <P>Establishment of an effective system for emergency preparedness, response, protection & prevention; while
                contributing towards building socially responsible, healthy, resilient and safer communities.</P>
            <br>
            <h2>KEY OBJECTIVES</h2>
            <P>1. Provision of the right to timely emergency care by providing quality emergency services as per
                international standards.
                <br>
                2. Undertake research to recommend evidence based measures to related organizations for prevention of
                emergencies.
                <br>
                3. Contribute towards establishment of socially responsible community emergency response teams through
                awareness, enrollment, training & organizing volunteers for emergency preparedness, response &
                prevention.</P>
        </div>
    </div>


    <div class="header" style="left: 0;bottom: 0;width:100%; margin-top:50px; padding-top:0px; font-size:17px; font-family: 'Varela Round', sans-serif;">
        <footer style="text-align: left;">&copy; Copyright 2020 <span style="color:#fbdcc4;font-size:18px; font-family: 'Varela Round', sans-serif;">EMERGENCY-SERVICES</span>
            <span style="padding-left: 890px;">

                <a href="#">
                    <i style="color: #fbdcc4; font-size:20px;" class="fa fa-twitter"></i>
                </a>
                <a href="#">
                    <i style="color: #fbdcc4; font-size:20px;" class="fa fa-linkedin"></i>
                </a>

                <a href="#">
                    <i style="color: #fbdcc4; font-size:20px" class="fa fa-facebook"></i>
                </a>

                <a href="#">
                    <i style="color: #fbdcc4; font-size:20px" class="fa fa-medium"></i>
                </a>

            </span>
        </footer>

    </div>
    </div>


</body>

</html>